html, body, div, span, a{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.outsideDiv{
  position:absolute; 
  height:100%; 
  width:100%;
  display: table;
}
.insideDiv{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}